@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-scrollbar::-webkit-scrollbar {
    width: 6px; 
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #b0b0b0;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
  
